h1 {
    background-color: red;
}
h2{
    background-color: #ffa500;
}
h3 {
    background-color: #ff0;
}
h4 {
    background-color: #00FF00FF;
}
h5 {
    background-color: #00FF;
}
h6 {
    background-color: rgb(75, 0, 130);
}
p{
    background-color: rgba(238, 130, 238, 1);
}
#li-one{
    color: hotpink; 
}
#li-three {
    background-color: peachpuff;
}
.list-item{
border: 5px solid green;
}